* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* BEGIN NAV SECTION */

.nav-container {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
}

.nav-company-name {
    color: white;
    padding-left: 60px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: bolder
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 30px
}


/* END NAV SECTION */

/* START HERO SECTION */

.hero {
    background-image: url(/images/hero.png);
    height: 720px;
    padding-top: 0px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.hero-header {
    color: white;
    margin: 0 auto;
    font-size: 96px;
    font-weight: 700;
}

/* END HERO SECTION */

.show {
    margin: 0 auto;
    padding: 50px;
}

.show-content {
    gap: 25px;
}

.show-box {
    border: 1px solid darkgray;
    background: lightgray;
    margin: 0 auto;
}

.show-box-text {
    font-weight: bold;
    font-size: 24px;
    margin: 26px;
}

.show-info {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.show-image {
    height: 260px;
    object-fit: contain;
}

.show-text {
    width: 55%;
    text-align: left;
}

.show-text-header {
    font-weight: 700;
    font-size: 36px;
    margin: 0 auto;
}

.show-text-info {
    font-weight: 700;
    font-size: 16px;

}

.show-text-button {
    display: flex;
    align-items: center;
}

.show-button {
    font-size: 24px;
    color: white;
    background: #F0BB00;
    border: 1px solid #A07D00;
    padding: 20px 40px;
    text-decoration: none;
}


/* BEGIN SHOW-INFO SECTION  */

.footer-content {
    background-color: black;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer-image {
    height: 270px;
    object-fit: contain;
}

.footer-column {
    padding: 20px;
    margin: 0 auto;
}

.footer-header {
    font-size: 36px;
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

.footer-text {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#link {
    text-decoration: none;
}

#link:hover {
    color: red;
}

/* END SHOW-INFO SECTION */